<div data-ng-controller="RegisterCtrl">
    <div ng-repeat="error in registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

    <h1>Register</h1>
    <form ng-submit="register()" class="signup form-horizontal">
        <div class="form-group">
            <label for="first_name" class="col-md-4 control-label">First Name</label>
            <div class="col-md-8">
                <input id="first_name" type="text" name="first_name" placeholder="First Name" class="form-control" ng-model="user.first_name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="col-md-4 control-label">Last Name</label>
            <div class="col-md-8">
                <input id="last_name" type="text" name="last_name" placeholder="Last Name" class="form-control" ng-model="user.last_name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-md-4 control-label">Username</label>
            <div class="col-md-8">
                <input id="username" type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-md-4 control-label">Repeat Password</label>
            <div class="col-md-8">
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Password" class="form-control" ng-model="user.confirmPassword"/>
            </div>
        </div>
        <div class="form-group">
            <label for="dob" class="col-md-4 control-label">Birth Date</label>
            <div class="col-md-8">
                <input id="dob" type="date" name="dob" placeholder="mm/dd/yyyy" class="form-control" ng-model="user.dob" data-birth-date/>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-md-4 control-label">Gender</label>

            <div class="col-md-8">
                <div class="radio col-md-6">
                  <label>
                    <input type="radio" name="gender" id="gender_m" value="Male" ng-model="user.gender">
                    Male
                  </label>
                </div>
                <div class="radio col-md-6">
                  <label>
                    <input type="radio" name="gender" id="gender_f" value="Female" ng-model="user.gender">
                    Female
                  </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-md-4 control-label">Country</label>
            <div class="col-md-8">
                <input id="country" type="text" name="country" placeholder="Country" class="form-control" ng-model="user.country"/>
            </div>
        </div>
        <div class="form-group">
            <label for="state" class="col-md-4 control-label">State</label>
            <div class="col-md-8">
                <input id="state" type="text" name="state" placeholder="State" class="form-control" ng-model="user.state"/>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-md-4 control-label">City</label>
            <div class="col-md-8">
                <input id="city" type="text" name="city" placeholder="City" class="form-control" ng-model="user.city"/>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Sign up</button>&nbsp;
                or&nbsp;<a ui-sref='auth.login' class="show-login">login</a>
            </div>
        </div>
    </form>
</div>
